{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 style="text-align: center">{{ title }}</h1><hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Аббревиатура</th>
      <th scope="col">Информация</th>
    </tr>
  </thead>
  <tbody>
  {% for el in data %}
    <tr>
      <td>{{ el.name }}</td>
      <td>{{ el.abbreviation }}</td>
      <td>{{ el.info }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
<a class="btn btn-success" href="{% url 'add-university-unit' %}">Добавить</a>

{% endblock %}