{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<br>
    <div class="row align-items-center" align="center">
        {% for unit in university_unit|dictsort:"id" %}
            {% if unit.show_in_timetable %}
                <div class="col">
                    <a class="btn btn-success"
                       data-bs-toggle="collapse"
                       href="#unit_{{ unit.id }}"
                       role="button" aria-expanded="false"
                       aria-controls="unit_{{ unit.id }}"
                    >
                        {{ unit.abbreviation }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="align-items-center" align="center">
        {% for unit in university_unit %}
            {% if unit.show_in_timetable %}
            <div class="collapse multi-collapse
                {% if unit.default_show %}
                    show
                {% endif %}
            "
            id="unit_{{ unit.id }}"
            >
                <div class="card card-body">
                    <div class="row justify-content-center" id="export2pdf_{{ unit.id }}">
{#                    <h2 class="text-center">{{ title }}<button class="btn bi bi-download" onclick="convertToPDF('export2pdf_{{ unit.id }}', '{{ title }}')"></button></h2>#}
                    <h2 class="text-center">{{ title }}<button class="btn bi bi-download" onclick="window.open('{% url 'get-file-schedule' monday sunday unit.id %}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"></button></h2>

                        <table  class="table table-bordered border-5 border-dark">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        День недели
                                    </th>
                                    {% for auditorium in auditoriums %}
                                        {% if auditorium.university_unit == unit %}
                                        <th scope="col" class="text-center">
                                            {{ auditorium.name }}
                                            ({{ auditorium.capacity }} человек)
                                        </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        <tbody>
                            {% for day in day_of_week %}
                                <tr>
                                    <td>
                                        {{ day.date }} {{ day.month }}<br>
                                        {{ day.weekday }}
                                    </td>
                                    {% for auditorium in auditoriums %}
                                        {% if auditorium.university_unit == unit %}
                                            <td>
                                                <table class="table">
                                                {% for item in auditorium.timetableitem_set.all|dictsort:"start_time"|dictsort:"date" %}
                                                    {% if item and item.date == day.value and item.status == 'APPROVED' %}
                                                        <tr class="text-center">
                                                            <td id="timetable-id={{ item.id }}"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#infoBookingModal"
                                                                    {% if day.value > today %}
                                                                        class="table-success"
                                                                    {% elif day.value == today %} class="table-danger"
                                                                    {% else %} class="table-secondary"{% endif %}
                                                            >
                                                                {{ item.name }}<br>
                                                                {{ item.start_time }} - {{ item.end_time }}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </table>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>



    <div class="modal fade" id="infoBookingModal" tabindex="-1" aria-labelledby="infoBookingModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoBookingModalLabel">Информация о бронирование</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body " id="modal-output">
                    <p>Информация о бронирование</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                  </div>
                </div>
              </div>
        </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/schedule/modalscript.js' %}"></script>
    <script src="{% static 'js/jspdf/jspdf.umd.min.js' %}"></script>
    <script src="{% static 'js/html2canvas/html2canvas.min.js' %}"></script>
    <script src="{% static 'js/schedule/export2pdf.js' %}"></script>
{% endblock %}