{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 style="text-align: center">{{ title }}</h1><hr>
    {%  for aud in auditoriums.all %}
        <div class="card mb-4">
        <div class="card-header">{{ aud.name }}</div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Название</th>
                        <th scope="col">Ответственный</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in aud.timetableitem_set.all|dictsort:"date"  %}
                       {% if item.date >= start_week and item.date <= end_week %}
                        <tr>
                            <td>{{ item.date }}</td>
                            <td>{{ item.start_time|time:"H:i" }} - {{ item.end_time|time:"H:i" }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                {% if item.organazer.last_name and item.organazer.first_name %}
                                    {{ item.organazer.last_name }} {{ item.organazer.first_name }}
                                    {% else %}
                                        Пользователь: {{ item.organazer }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    {% endfor %}

{% endblock %}