services:
  web:
    build: .
#    command: python manage.py runserver 0.0.0.0:8000
    command: gunicorn technoparkTimetable.wsgi:application --bind 0.0.0.0:8001
    restart: unless-stopped
    volumes:
      - ./:/usr/src/app/
      - static_volume:/usr/src/app/static
      - media_volume:/usr/src/app/media
    ports:
      - 8001:8001
    env_file:
      - ./.env.prod
    depends_on:
      - db
    networks:
      - nginx_network
  db:
    image: postgres:13.3
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE:-database}
      POSTGRES_USER: ${DB_USER:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
     - "5432:5432"
    networks:
      - nginx_network
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./config/docker/nginx/conf.d:/etc/nginx/conf.d
      - static_volume:/usr/src/app/static
      - media_volume:/usr/src/app/media
    depends_on:
      - web
    networks:
      - nginx_network

  pgbackups:
    image: prodrigestivill/postgres-backup-local
    restart: unless-stopped
    user: postgres:postgres
    volumes:
      - ./backups:/backups
    links:
      - db
    ports:
      - 8888:8888
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=timetableDB
      - POSTGRES_USER=root_timetable
      - POSTGRES_PASSWORD=timetable@technopark.db
      - POSTGRES_EXTRA_OPTS=-Z6 --schema=public --blobs
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
      - HEALTHCHECK_PORT=8888
    networks:
      - nginx_network

  celery_worker:
    build: .
    command: celery -A technoparkTimetable.celery_app worker --loglevel=info
    restart: unless-stopped
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - rabbitmq
    networks:
      - nginx_network

  celery_beat:
    build: .
    command: celery -A technoparkTimetable.celery_app beat --loglevel=info
    restart: unless-stopped
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - rabbitmq
    networks:
      - nginx_network

  rabbitmq:
    image: rabbitmq:3-management
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  nginx_network:
    driver: bridge