{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1>Регистрация пользователя</h1><hr>

<form action="{% url 'register' %}" method="post">
    {% bootstrap_form form %}
    {% csrf_token %}
<button type="submit" class="btn btn-success">Отправить</button>
</form>
<!--
<form method="post" action="{% url 'register' %}">{% csrf_token %}
  <table>
    {% for field in form %}
      <tr>
        <th>{{field.label_tag}}</th>
        <td>
          {{ field.errors }}
          {{ field }}
            {{ field.help }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <hr/>
  <input type="submit" value="Conferma" />
</form>
-->
{% endblock %}