{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
    <div class="text-center align-content-center">
        <h2 class="text-center mb-4">{{ title }}</h2>
    <img src="{% static "image/logo/icon-techno.png" %}" width="30%" height="30%" alt="logo">
</div>
<form method="post">{% csrf_token %}

    {% bootstrap_form form %}
    <div class="d-grid gap-2"><button type="submit" class="btn btn-success" >Сохранить</button></div>
</form>
    </div>
</div>
{% endblock %}