{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<h1 style="text-align: center">{{ title }}</h1><hr>
<div class="row justify-content-center">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" align="center">
        {% for aud in auditoriums %}
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'booking-timetable-week' aud.id monday sunday %}'"> {{ aud.name }}</button>
        {% endfor %}
        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'timetable-week' monday sunday %}'"> Расписание</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'schedule' monday sunday %}'"> Расписание</button>
        <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'import-schedule-shspu' monday sunday %}'">Импорт расписания</button>
    </div>
</div>
{% endblock %}