{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 style="text-align: center">{{ title }}</h1><hr>

<div>
    <p>текущие заявки</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Количество человек</th>
                <th scope="col">Статус</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <th scope="row">{{ item.name }}</th>
                    <td>{{ item.date }}</td>
                    <td>{{ item.start_time }} - {{ item.end_time }}</td>
                    <!--<td>{{ item.auditorium }}</td>-->
                    <td>
                        {% for aud in item.auditorium.all %}
                            {{ aud.name }}
                        {% endfor %}
                    </td>
                    <td>{{ item.amount_people }}</td>
                    <!--<td>{{ item.is_approved }}</td>
                    <td>
                        {% if item.is_approved %}
                            Одобрено
                            {% else %}
                            Не одобрено
                        {% endif %}
                    </td>-->
                    <td>
                        {% if item.status == 'PENDING' %}
                            Ожидает одобрения
                            {% elif item.status == 'APPROVED' %}
                                Одобрено
                            {% else %}
                                Отклонено
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update-user-reservation' item.pk  %}" class=" bi bi bi-pen text-success"></a>
                        <a href="{% url 'approve-reservation' item.pk 'REJECTED' %}" class="bi bi-x-square-fill text-danger"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}