<!DOCTYPE html>
{% load static %}
{% include "navbar.html" %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"> -->

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    <!--<link rel="stylesheet" href="{% static "bootstrap_v5.1.3/bootstrap.min.css" %}">
    <script src="{% static "bootstrap_v5.1.3/bootstrap.bundle.min.js" %}"></script>-->


</head>

<body>
{% block navbar %}

{% endblock %}
<div class="container">

{% block content %}

{% endblock %}
</div>
</body>
</html>