<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">Расписание Технопарка</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" hidden="hidden">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" href="{% url 'list-week' %}">По неделям</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'add-user-reservation' %}">Забронировать аудиторию</a>
        </li>
      {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'list-admin-reservation' %}">Список заявок</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'list-admin-confirm-user' %}">Список новых пользователей</a>
          </li>
      {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                Войти
            {% endif %}
          </a>
        {% if user.is_authenticated %}
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          {% if user.is_superuser %}
              <li><a class="dropdown-item" href="/admin/">Admin</a></li>
          {% endif %}
            <li><a class="dropdown-item" href="{% url 'user-profile' %}">Профиль</a></li>
            <!--<li><a class="dropdown-item" href="#">Забронировать аудиторию</a></li>-->
            <li><a class="dropdown-item" href="{% url 'list-user-reservation' %}">История бронирования</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url "logout" %}">Выйти</a></li>
          </ul>
        {% else %}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url "login" %}">Войти</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url "register" %}">Регистрация</a></li>
          </ul>
        {% endif %}
        </li>

      </ul>

    </div>
  </div>
</nav>