{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<h1 style="text-align: center">{{ title }}</h1><hr>
<div class="row justify-content-center">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for day in day_of_week %}
                        <th scope="col">
                            {{ day.date }} {{ day.month }} <br>{{ day.weekday }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
        <tbody>
            <tr>
                {% for day in day_of_week %}
                        <td align="center">
                        <table class="table">
                            {% for item in timetable %}
                                <tr>
                                {% if item.date == day.value %}
                                    <td  {% if day.value >= today %}
                                        class="table-danger"
                                    {% else %} class="table-secondary"
                                    {% endif %}
                                     height="60"
                                     data-bs-toggle="modal" data-bs-target="#infoBookingModal"
                                     id="timetable-id={{ item.id }}"
                                    >
                                        <div style="text-align: center">
                                            {{ item.name }}<br>
                                            {{ item.start_time }} - {{ item.end_time }}
                                        </div>
                                    </td>

                                {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                        </td>
                {% endfor %}
            </tr>
            {% for day in day_of_week %}
                <td>
                    <button class="btn btn-success bi-plus-square " id="booking-data={{ day.value }};auditorium={{ auditorium_id }}"
                            data-bs-toggle="modal" data-bs-target="#BookingFormModal">
                        Добавить
                    </button>
                </td>
            {% endfor %}
        </tbody>
        </table>

        <div class="modal fade" id="infoBookingModal" tabindex="-1" aria-labelledby="infoBookingModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoBookingModalLabel">Информация о бронирование</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body " id="modal-output">
                    <p>Информация о бронирование</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                  </div>
                </div>
              </div>
        </div>

    <div class="modal fade" id="BookingFormModal" tabindex="-1" aria-labelledby="BookingFormModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <form id="modal-form-booking">
                  <div class="modal-header">
                    <h5 class="modal-title" id="BookingFormModalLabel">Информация о бронирование</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body " id="modal-output">
                      <div class="alert alert-danger d-none" role="alert"></div>
                        {% bootstrap_form form %}

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </div>
                    </form>
                </div>
              </div>
        </div>

    </div>
</div>
    <script src="{% static 'js/booking/timetable-booking.js' %}"></script>
{% endblock %}